* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #E2E6F8;
}
.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    /* padding: 10px; */
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    /* margin: 0; */
}

.nav {
    width: 25vw;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    color: #000;
    width: auto;
    height: 40px;
    font-weight: 300;
    padding: 6px 16px;
    border-radius: 99px;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}
/* nav a:hover{
    scale: 1.05;
    font-weight: 400;
    box-shadow: 3px 3px 10px rgba(36, 35, 35, 0.25);
} */
.profile img {
    width: 10vw;
    border-radius: 99px;
}

.profilediv {
    width: 20vw;
    background-color: #FFBC66;
    height: 100vh;
    /* position: fixed */
}

.mainpg {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.profile {
    /* padding: 12px; */
    position: absolute;
    top: 20vh;
    left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about {
    padding-top: 10px;
    /* padding-right: 6px; */
}

.info {
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 78vw;
    margin: 1vw;
    padding: 1.5vh 5vh;
    /* margin: auto; */

}

.questions {
    display: flex;
    flex-direction: column;
}

.answers {
    display: flex;
    flex-direction: column;
}
.ques{
    padding: 12px 0px;
    font-weight: 600;
}
.ans{
    padding: 12px;
    font-weight: 300;
}
.details{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: space-between; */
    overflow: scroll;
}
.edu{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    width: 78vw;
}
.eduinfo{
    width: 38vw;
    display: flex;
    flex-direction: row;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin: 2vw 0px;
    padding: 1.5vh 5vh;
    
}
.cards{
    display: flex;
    flex-direction: row;
}
.educards{
    display: flex;
    flex-direction: column;
}
.edudata{
    display: flex;
    flex-direction: row;
}
.topic{
    font-weight: 300;
    color: #495FD7;
}

/* admin pro css*/

.adm{
    /* width: 100vw; */
    display: flex;
    /* background-image: url('../img/adm.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover;
    height: 95vh; */
    /* justify-content: center; */

}
.admcard{
    display: flex;
    width: 40vw;
    /* height: 600px; */
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: rgb(37, 37, 37);
    height: fit-content;
    
}
.admcard:hover{
    scale: 1.01;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 19px 38px, rgba(0, 0, 0, 0.2) 0px 15px 12px;
}
.admcard img{
    /* width: 100%; */
    padding: 10px;
    width: 13vw;
    border-radius: 20px;

    /* height: 50%; */
    /* background-color: rgb(211, 160, 255); */
}
.admcard h3{
    /* text-align: center; */
    padding: 10px;
    
}
.admcard p{
    /* text-align: center; */
    padding: 10px;
}
