<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/prem.css' %}" />
</head>

<body>
    <nav>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}"
            alt="">
            <h2>UDAAN</h2>
        </div>
        <a href="home" style="text-decoration:none;"><button type="button" class="btn btn-primary">Home</button></a>
    </nav>
    <main class="flex flex-col justify-evenly items-center h-full">
        <form method="post" action="verify">
            {% csrf_token %}
            <div class="card w-1/2 bg-base-100 shadow-xl">
                <div class="card-body items-start text-center ">
                    <label class="label" for="aadhar">Aadhar Number</label>
                    <input type="text" placeholder="Aaadhar Number" class="input input-bordered w-full" name="aadhar" value="{{name}}" />
                    <p style="color: red; font-weight:500;">{{msg}}<p>
                        <button class="btn btn-success btn-block">Get OTP</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
</body>

</html>